# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS
*.aps
*.rc
*.vcxproj
*.filters
x64/

# Latex
*.aux
*.log
*.blg
*.dvi
*.synctex.gz
*.bbl
*~

# Maya
*.swatch
*.swatches

# Matlab
optical_flow_cliu
optical-flow_mblack
rpca
vlfeat-0.9.20
TOOLBOX_calib
*.mat
*.asv
PVA_main.m
Data
Matlab/WOBJ_toolbox_Version2b/examples/example10.bmp
Matlab/WOBJ_toolbox_Version2b/examples/example10.mtl
WOBJ_toolbox_Version2b
